
/*button */
        .list-link ul li{
            display: inline;
        }

        .main__vs{
            margin-top:0;
            font-size: 16px;
        }

        /*slider_hero*/
        .slider-hero-box{
            position: relative;
            width: 100%;
            height:650px;
        }

        .slider-hero-box .hero-box{
            max-width: 1280px;
            margin:auto;
        }

        .hero-box .hero-imgs{
            width: 820px;
            height:620px;
            border-radius: 30px;
            overflow: hidden;
            border: 1px solid #000;
            z-index: 1;
        }

        .slider-hero .hero-bgs{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 650px;
            overflow: hidden;
        }


        .slider-hero .hero-imgs .slide,
        .slider-hero .hero-bgs .slide,
        .slider-hero .hero-imgs .slick-current,
        .slider-hero .hero-bgs .slick-current,
        .slider-hero .hero-imgs img,
        .slider-hero .hero-bgs img
        {
            width:100%;
        }


        .slider-hero .hero-imgs .slide,
        .slider-hero .hero-imgs .slick-current{
            height: 100%;
            padding:0;
        }
        
        .slider-hero .hero-bgs .slide,
        .slider-hero .hero-bgs .slick-current{
            height: 100%;
            padding:0;
        }

         /* slick_custom */
        .slick-slider .draggable {
            padding: 0px !important;
        }

        /* notice&campaign */
        .sliderB_container_camp {
            position: absolute;
            top: 0px;
            left:50%;
            transform: rotateX(50%);
            color:black;
            height:620px;
            overflow: hidden;
            border-radius: 6px;
            margin-left:200px;
            background-color: #fff;
        }

        .sliderB_container_camp .main_v_notice{
            width: 432px;
        }

        .main_v_notice .slider {
            padding:12px;
        }

        .main_v_notice .slick-slider .slick-slide{
            padding: 0px;
            height:160px;
        }


        .main_v_notice .slider .v_notice_contents{
            display: flex;
            text-align: left;
        }

        .sliderB_container_camp h2{
            font-size:16px;
        }

        

        /* E-notice&campaign slick */
        

        .sliderB_container_camp .slick-dots{ 
            text-align: center;
        }
        .sliderB_container_camp .slick-dots li{
          display: inline-block; 
          margin: 0 5px;
        }
        



        /*quick_nav(box-banner)*/
        .quick_nav{
            position: fixed;
            right: 0;
            top:0;
            color:white;
        }


        /*box-card*/
        .box-card_camp {
            width: 100%;
            border: 1px solid #000;
        }

        .box-card_campbox{
            width: 1280px;
            margin:0 auto;
        }

        .innerbox{
            display: flex;
        }

        .innerbox dl,
        .main_border_test .innerbox dl{
            float: left;
        }

        .innerbox .title,
        .main_border_test .innerbox .title{
            width:280px;
        }

        .contentsbox{
            width:1000px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .contentsbox div{
            width: 25%;
        }



        /*crowd*/

        
        .main-type2-camp {
            border: 1px solid #000;
            width: 100%;
            color:black; 
        }

        .slick_sub{
            max-width: 1000px;
        }

        .slick_sub .test-case-wrap {
            border: 2px solid red;
        }

        
        .main-beanTube .slick_sub{
            max-width: 1280px;
            border: 2px solid red;
        }


        .slick_sub .test-case-wrap button{
            z-index: 10;
        }

        .main-beanTube .slick_sub .test-case-wrap {
            max-width: 1280px;
            border: 2px solid red;
        }



        /* 열매튜브*/
        .main-beanTube {
            width: 100%;
            border: 1px solid #000;
        }

        .main-beanTube .main-beanTube_box {
            max-width: 1280px;
            margin: auto;
        }


        /*공지사항/최근보도/지원안내*/
        .main-bbs {
            max-width: 1280px;
        }


        /* borderbox_testLine */
        .main_border_test {
            width: 1280px;
            margin: auto;
            border: 1px solid #000;
            display: block;
        }



         /* slick sample */
        .container {
            padding: 30px;
        }

        .test-case-wrap {
            border: 2px solid green;
        }

        .tab-content>.tab-pane {
            display: block;
            visibility: hidden;
        }

        .tab-content>.tab-pane.active {
            visibility: visible;
        }

        .tab-content {
            position: relative;
        }

        .tab-pane {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .nav-tabs>li>a {
            background: rgba(100, 100, 100, 0.65);
            color: rgb(95, 9, 9);
        }

        .slick-slider {
            background: #3a8999;
            line-height: 1;
            text-align: center;
            color: white;
        }

        .slick-slider .slick-dots button:before,
        .slick-slider .slick-dots .slick-active button:before {
            color: rgba(255, 255, 255, 0.85);
        }

        .slick-slider .slick-slide {
            background: #3a8999;
            padding: 40px 0;
        }

        .slick-slider .slick-slide:nth-child(odd) {
            background: #e84a69;
        }

        .slick-slider .slick-slide.slick-active {
            background: rebeccapurple;
        }

        .slick-next {
            right: 0px;
        }
        
