@charset "utf-8";

*, *:before, *:after{
    box-sizing:border-box;
}


*{
    word-break: keep-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-overflow-scrolling:touch;
}


*:before, *:after{
    display: none;
    content: '';
}