@charset "utf-8";

*, *:before, *:after{
    box-sizing:border-box;
}


*{
    word-break: keep-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-overflow-scrolling:touch;
}


*:before, *:after{
    display: none;
    content: '';
}

body, dl, ul, ol, li, dt, dd, blockquote, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

caption, legend {
    visibility: hidden;
    height: 0;
    width: 0;
    font-size: 0;
    text-indent: -9999px;
}

pre, xmp, plaintext, listing, samp, kbd, code, figure, figcaption {
    margin: 0
}


iframe {
    border: none;
}


img {
    vertical-align: top
}