@charset 'UTF-8';

        .main_notice__buttons
        {
            position: absolute;
            top:16px;
            right:14px;
            width: 46px;
            height: 24px;
            overflow: hidden;
            z-index: 100;
            background-color: rgb(255, 255, 255);
        }

        .main_notice__buttons .main_notice___prev,
        .main_notice__buttons .main_notice___next{
                position: absolute;
                top: 0;
                width: 24px;
                height: 24px;
                margin: 0;
                padding: 0;
                padding-top: 22px;
                border-radius: 50%;
                background: #FFF;
                overflow: hidden;
                z-index: 3;
                }

                .main_notice__buttons .main_notice___prev{
                left: 0;
                font-family: 'xeicon';
                font-size: 14px;
                }

                .main_notice__buttons .main_notice___prev:before,
                .main_notice__buttons .main_notice___prev:after{
                content: '\e941';
                position: absolute;
                top: 20%;
                left: 20%;
                color:black;
                }


                .main_notice__buttons .main_notice___next{
                right: 0;
                font-family: 'xeicon';
                font-size: 14px;
                }

                .main_notice__buttons .main_notice___next:before, 
                .main_notice__buttons .main_notice___next:after{
                content: '\e944';
                position: absolute;
                top: 20%;
                left: 20%;
                color:black;
                }

                            

        /*button */
        
        .list-link{
            position: absolute;
            bottom:20px;
        }
        
        .list-link ul{
            font-size: 16px;
        }


        .list-link ul li{
            display: inline-block;
            margin:4px 20px 4px 0;
        }

        .box-card_campbox .list-link ul li a{
            text-decoration: none;
            color: #FD4852;
        }

        .box-card_campbox .list-link ul li.on{
            border-bottom:1px solid #FD4852;
        }


        .main-type2-camp .crowd-camp .list-link ul li a{
            text-decoration: none;
            color: #38BFCE;
        }

        .main-type2-camp .crowd-camp .list-link ul li.on{
            border-bottom:1px solid #38BFCE;
        }

        .main-type2-camp .camp-namum .list-link ul li a{
            text-decoration: none;
            color: #38CE75;
        }

        .main-type2-camp .camp-namum .list-link ul li.on{
            border-bottom:1px solid #38CE75;
        }

        .hero-box .main-hero__buttons{
            position: absolute;
            bottom:10px;
            left:16px;
            width: 180px;
            height: 52px;
            overflow: hidden;
            border-radius: 35px;
            z-index: 100;
            background-color: rgba(68, 67, 67, 0.6);
        }
        
        .main-hero__buttons .pagination{
            position: absolute;
            right:0;
            width: 83px;
            height: 52px;
            display: block;
            text-align: center;
            line-height: 52px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 35px;
            font-weight: 100;
            font-size: 20px;
            color:white;
            z-index: 10;
        }
        .main-hero__prev, .main-hero__next {
            float: left;
        }


        .main-hero__prev,
        .main-hero__next,
        .main-hero__autoplay {
        float: left;
        position: relative;
        display: block;
        width: 30px;
        height: 0;
        margin: 0;
        padding: 52px 0 0 0;
        border: none;
        border-radius: 0;
        overflow: hidden;
        cursor: pointer;
        /* opacity: 0.5; */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        }

        .main-hero__prev,
        .main-hero__autoplay,
        .main-hero__next
        {
        float: left;
        font-family: 'xeicon';
        font-size: 20px;
        }

        .main-hero__prev:before
        {
        content: '\e93b';
        display: block;
        position: absolute;
        left: 30%;
        top: 36%;
        color:white;
        }

        .main-hero__next:before
        {
        content: '\e93e';
        display: block;
        position: absolute;
        left: 30%;
        top: 36%;
        color:white;
        }

        
        .main-hero__autoplay:before
        {
        content: '\ea3b';
        display: block;
        position: absolute;
        left: 30%;
        top: 36%;
        color:white;
        }

        /* .main-hero__prev:before {
        margin-left: -4px;
        margin-top: -8px;
        display: block;
        width: 0;
        height: 0;
        border: inset 8px;
        content: '';
        border-left-width: 0;
        border-right-style: solid;
        border-color: transparent #fff transparent transparent;
        } */


        /* .main-hero__next:before {
        margin-left: -4px;
        margin-top: -8px;
        display: block;
        width: 0;
        height: 0;
        border: inset 8px;
        content: '';
        border-right-width: 0;
        border-left-style: solid;
        border-color: transparent transparent transparent #fff;
        } */

        





        .crowd-camp-buttons
        {
            position: absolute;
            top:14%;
            left:250px;
            width: 1040px;
            height: 96px;
            overflow: hidden;
            z-index: 100;
            background-color: rgba(100, 100, 100, 0);
        }

        .crowd-nanum__buttons{
            position: absolute;
            top:24%;
            left:250px;
            width: 1040px;
            height: 96px;
            overflow: hidden;
            z-index: 100;
            background-color: rgba(100, 100, 100, 0);
        }


        .main-beanTube_box .beanTube-buttons{
            position: absolute;
            top:30%;
            left:-26;
            width: 1270px;
            height: 96px;
            overflow: hidden;
            z-index: 100;
            background-color: rgba(100, 100, 100, 0);
        }



        .crowd-camp_prev,
        .crowd-nanum_prev,
        .crowd-camp_next,
        .crowd-nanum_next{
        position: absolute;
        top: 50%;
        width: 53px;
        height: 53px;
        margin: 0;
        padding: 0;
        margin-top: -12px;
        padding-top: 22px;
        border: 1px solid #dad9d6;
        border-radius: 50%;
        background: #FFF;
        overflow: hidden;
        z-index: 3;
        }

       .crowd-camp_prev,
       .crowd-nanum_prev{
        left: 0;
        font-family: 'xeicon';
        font-size: 20px;
        font-weight: 600;
        color:black;
        }

        .crowd-camp_prev:before, .crowd-camp_prev:after ,
        .crowd-nanum_prev:before,.crowd-nanum_prev:after{
        content: '\e93b';
        position: absolute;
        top: 30%;
        left: 28%;
        }

        .crowd-camp_next,
        .crowd-nanum_next{
        right: 0;
        font-family: 'xeicon';
        font-size: 20px;
        font-weight: 600;
        color:black;
        }

        .crowd-camp_next:before, .crowd-camp_next:after,
        .crowd-nanum_next:before,.crowd-nanum_next:after{
        content: '\e93e';
        position: absolute;
        top: 30%;
        left: 36%;
        }


        /* beantube_button */
        .beanTube_prev,
        .beanTube_next{
        position: absolute;
        top: 50%;
        width: 53px;
        height: 53px;
        margin: 0;
        padding: 0;
        margin-top: -12px;
        padding-top: 22px;
        border-radius: 50%;
        background: #555555;
        overflow: hidden;
        z-index: 3;
        }

       .beanTube_prev{
        left: 0;
        font-family: 'xeicon';
        font-size: 20px;
        font-weight: 600;
        }

        .beanTube_prev:before,
        .beanTube_prev:after{
            content: '\e93b';
            position: absolute;
            top: 30%;
            left: 28%;
            color:white;
        }


        .beanTube_next{
        right: 0;
        font-family: 'xeicon';
        font-size: 20px;
        font-weight: 600;
        }

        .beanTube_next:before, .beanTube_next:after{
            content: '\e93e';
            position: absolute;
            top: 30%;
            left: 36%;
            color:white;
        }



        .main_notice___prev,
        .main_notice___next {
        float: left;
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        height: 0;
        margin: 0;
        padding: 52px 0 0 0;
        border: none;
        border-radius: 0;
        background: black;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        }


        /* main */
        .main__vs{
            margin-top:0;
            font-size: 16px;
        }

        /*slider_hero*/
        .slider-hero-box{
            position: relative;
            width: 100%;
        }

        .slider-hero-box .hero-box{
            position: relative;
            max-width: 1280px;
            margin:auto;
        }

        .hero-box .hero-imgs{
            max-width: 820px;
            /* width: 70vw; */
            height:620px;
            margin:15px 0;
            border-radius: 6px;
            overflow: hidden;
            border: 1px solid #707070;
            z-index: 2;
        }

        .hero-box .hero-imgs .slide{
            display: block;
            max-width: 820px;
            height:620px;
            background-image: url('../../img/re_main_2010/hero_img1.png');
            background-size: cover;
        }


        .slider-hero .hero-bg-box::before{
            content: '';
            display: block;
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.6;
            z-index: -1;
        }
        
        .slider-hero .hero-bgs{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            overflow: hidden;
            z-index: -2;
        }

        .slider-hero .hero-bgs .slide{
            width:100%;
            height: 650px;
            background-image: url('../../img/re_main_2010/hero_img1.png');
            background-size: cover;
        }


         /* slick_custom */
        .slick-slider .draggable {
            border:0px !important;
            margin:0px !important;
            padding: 0px !important;
        }

        /* notice&campaign */

        .sliderB_container_box{
            position: absolute;
            top:0;
            left:50%;
            transform: translate(-50%, 0%);
            width: 1280px;
            margin:15px 0;
        }

        
        
        .sliderB_container_camp:before{
            content: "";
            display: block;
            width: 413px;
            height: 134px;
            position: absolute;
            top: 189px;
            left: 0;
            z-index: 100;
            border: 10px solid #FF4049;
            box-shadow:1px 0px 6px rgb(182, 182, 182);
        }

        .sliderB_container_camp {
            position: absolute;
            top:0;
            right:0;
            max-width: 432px;
            height:620px;
            overflow-y: hidden;
            overflow-x: hidden;
            border-radius: 6px;
            background-color: #fff;
            color:black;
            z-index: 2;
        }

        .main_v_notice{
            position: relative;
            display: block;
            box-sizing: border-box;
        }

        .main_v_notice h1{
            line-height: 52px;
            padding-left:16px;
            font-size:20px;
            border-bottom: 1px solid #DDDDDD;
        }


        .main_v_notice h1 strong{
            color:red;
        }

        .main_v_notice .slider{
            height: auto;
            z-index: 3;
        }

        .main_v_notice .slider .v_notice_contents{
            display: flex;
            justify-content: left;
            align-items: center;
            color:black;
            width: 100%;
            height:142px;
            line-height: 23px;
            border-bottom:1px solid #DDDDDD;
            box-sizing: border-box;
        }

        .v_notice_contents div{
            display: inline-block;
        }

        .v_notice_contents div:first-child{
            text-align: left;
            padding: 0 16px;
        }

        
        .v_notice_contents div:nth-child(2){
            text-align: right;
            padding-right: 10px;
        }

        .v_notice_contents div:nth-child(2) a{
            display: block;
            width: 80px;
            height: 110px;
            background-image: url('../../img/re_main_2010/v_notice_contents.png');
            background-size: cover;
            border-radius: 6px;
            border: 1px solid #707070;
            box-shadow:0px 6px 10px rgb(182, 182, 182, 0.5);
        }


        .main_v_notice .slider .v_notice_contents strong{
            font-size: 16px;
            color:#555555;
        }
        
        .main_v_notice .slider .v_notice_contents em{
            font-size: 14px;
            color:#C19393;
        }

        .main_v_notice .slider .v_notice_contents h2{
            font-size: 20px;
            margin:4px 20px 4px 0;
            color:#000000;
        }
        .main_v_notice .slider .v_notice_contents p{
            font-size: 14px;
            margin-right:30px;
            color:#999999;
        }
        
        .main_v_notice .slick-slider .slick-slide{
            padding:12px;
        }

    
        /* E-notice&campaign slick */

        .sliderB_container_camp .slick-dots{ 
            text-align: center;
        }

        .sliderB_container_camp .slick-dots li{
          display:inline-block; 
          margin: 0 5px;
        }
        



        /*quick_nav(box-banner)*/
        .quick_nav{
            position: fixed;
            right: 0;
            top:10px;
            color:black;
            background-color: #fff;
            text-align: center;
            z-index: 1000;
            border: 1px solid #EEEEEE;
        }

        .btn_close{
            position: absolute;
            width: 35px;
            height: 24px;
            background-color: #FF4049;
            top:0;
            left:-36px;
            color:wheat;
        }


        .quick_nav h2{
            font-size: 14px;
            padding:6px 12px;
            border-bottom: 1px solid #DEDEDE;
        }
        .quick-info{
            display: block;
        }

        .quick-info li a,
        .quick-info li:hover{
            color:#000000;
        }

        .quick-info li{
            margin:10px 0;
        }
        .quick-info li i{
            display: block;
            width:62px;
            height:50px;
            background: url('../../img/re_main_2010/quick_menu.png');
            background-size: 372px 50px;
            margin: auto;
        }

        
        .quick-info li .txt{
            display: block;
            color:#000000;
            font-size: 12px;
            padding:4px 0 8px 0;
        }


        .quick-info li i.ico-notice{
            background-position: 0 0;
        }

        .quick-info li i.ico-info{
            background-position: -63px 0;
        }
        .quick-info li i.ico-online{
            background-position: -124px 0;
        }
        .quick-info li i.ico-donation1{
            background-position: -186px 0;
        }

        .quick-info li i.ico-donation2{
            background-position: -250px 0;
        }

        .quick-info li i.ico-mypage{
            background-position: -312px 0;
        }

        /*box-card*/
        .box-card_camp {
            width: 100%;
            margin:40px 0;
        }

        .box-card_campbox{
            position: relative;
            margin:auto;
            max-width: 1280px;
        }

        .innerbox{
            display: flex;
            padding:20px 0;
        }

        .innerbox dl .red{
            color:#FD4852;
        }
        
        .innerbox dl .blue{
            color:#38BFCE;
        }
        
        .innerbox dl .green{
            color:#38CE75;
        }

        .innerbox dl,
        .main_border_test .innerbox dl{
            box-sizing: border-box;
        }

        .innerbox .title{
            width:280px;
            float: left;
        }

        .innerbox .title dt{
            font-size: 40px;
            line-height: 45px;
            letter-spacing: -0.04em;
            font-weight: 500;
        }

        .innerbox .title dt strong .red{
            color:red;
        }
        .innerbox .title dd{
            margin-top:22px;
        }
        .innerbox .title dd p{
            font-size: 14px;
            line-height: 24px;
            color:#999999;
            text-decoration: none;
        }

        
        .contentsbox{
<<<<<<< HEAD
            display: flex;
            max-width:100%;
=======
            display: inline-block;
            width:1000px;
>>>>>>> 0c33a83326a7e04b6aab14d883746e366e44f08f
            flex-wrap: wrap;
            justify-content: center;
            margin:auto;
        }

        .contentsbox div{
            float: left;
            width: 25%;
            height:160px;
            text-align: center;
            cursor: pointer;
        }
        

        .contentsbox i{
            display: block;
            width:150px;
            height:100px;
            background: url('../../img/re_main_2010/donation_CI.png');
            background-size: 1200px 100px;
            margin: auto;
        }

        .contentsbox .d_icon_home{
            background-position: 0 0;
        }
        .contentsbox .d_icon_store{
            background-position: -140px 0;
        }

        .contentsbox .d_icon_work{
            background-position: -300px 0;
        }

        .contentsbox .d_icon_namum {
            background-position: -452px 0;
        }

        
        .contentsbox .d_icon_club{
            background-position: -603px 0;
        }
        .contentsbox .d_icon_honor{
            background-position: -749px 0;
        }
        .contentsbox .d_icon_fit{
            background-position: -901px 0;
        }
        .contentsbox .d_icon_social{
            background-position: -1051px 0;
        }



        .contentsbox h2{
            font-size:16px;
        }

        .contentsbox p,
        .contentsbox button{
            margin:auto;
            width:200px;
            font-size: 13px;
            display: none;
        }


        /*crowd*/

        .main-type2-camp {
            width: 100%;
            margin:40px 0;
            color:black; 
        }

        .slick_sub{
            max-width: 1000px;
            
        }




        /* 열매튜브*/

        .main-beanTube {
            padding:40px 0;
            display: block;
            color:white;
            width: 100%;
            height: 100%;
            height: auto;
            background-color:#202324;
            background-image: url('../../img/re_main_2010/beantube_bg.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            z-index: -1;

        }




        .main-beanTube .main-beanTube_box {
            display: block;
            max-width: 1280px;
            margin:auto;
            overflow: hidden;
            position: relative;
        }

        
        .main-beanTube .slick_sub .tab-pane{
            position: relative;
            padding:0 20px;
            width:1280px;
            margin:auto;
            z-index: 1;
        }


        
        .main-beanTube .slick_sub .slick-slide,
        .main-beanTube .slick_sub .slick-current{
            max-width: calc(100%/3);
        }
        

        .beanTube_title{
            position: relative;
            max-width: 100%;
            margin-bottom:18px;
            line-height: 40px;
            padding-left:16px;
        }

        .beanTube_title h2{
            position: relative;
            margin-left: 16px;
            display: inline;
            text-align: left;
            font-family: 'xeicon';
        }

        .beanTube_title strong{
            color: #FF4049;
        }

        .beanTube_title h2::after{
            content: "\ec32";
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 100%;
            background-color: #FD4852;
            position: absolute;
            left: 100px;
            color: white;
            text-align: center;
        } 

        .beanTube_title .beanTube-list-link{
            float: right;
            font-size: 16px;
            padding-right:32px;
            font-weight: 100;
        }

        .beanTube_title .beanTube-list-link li{
            display: inline-block;
        }
            
        .beanTube_title .beanTube-list-link li a{
            color:white;
        }

        
            
        .beanTube_title .beanTube-list-link li a:hover{
            color: red;
            border-bottom: 1px solid red;
        }

        .beanTube_title .beanTube-list-link .tab1,
        .beanTube_title .beanTube-list-link .tab2{
            margin-right:20px;
        }

        

        .beanTube_descript{
            display: block;
            text-align: left;
            line-height: 28px;
            padding: 0 16px;
        }

        .beanTube_descript h2{
            font-size: 16px;
            color:#FF4049;
            font-weight: 300;
        }

        .beanTube_descript p{
            font-size: 20px;
            font-weight: 100;
        }


        .slick-beanTube iframe{
            max-width:390px;
            height:210px;
        }


        /*공지사항/최근보도/지원안내*/
        .main-bbs {
            max-width: 1280px;
            margin: 40px auto 0;
        }




        /* borderbox_testLine */
        .crowd-camp,
        .camp-namum{
            position: relative;
            width: 1280px;
            margin: auto;
        }


        /* crowd-camp */
        .slick-crowd-camp{
            display: block;
        }

        
        .slick-crowd-camp .slick-slide{
            width:316px;
        }

        
        .slick-crowd-camp .slider .crowd-camp-img{
            display: block;
            max-width:316px;
            height:232px;
            border-radius: 6px;
            background-color: black;
        }

        .slick-crowd-camp h3{
            max-width:316px;
            margin-left:8px;
            margin-top:12px;
            font-size:16px;
            text-align: left;
            color:black;
        }

        .slick-crowd-camp p{
            font-size: 12px;
            margin-left:8px;
            margin-top:8px;
            text-align: left;
            color:#999999;
        }

        .slick-crowd-camp a.crowd-camp-button{
            max-width:316px;
            margin-left:8px;
            margin-top:18px;
            border: 1px solid #38BFCE;
            display: block;
            color:#38BFCE;
            font-size:14px;
            padding:11px;
            border-radius:6px;
        }

        .slick-crowd-camp a.crowd-camp-button:hover{
            background-color: #38BFCE;
            color: white;

        }


         .slick-crowd-camp .cause-card {
            -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
                    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            border-radius: 15px;
          }
          
          .slick-crowd-camp .cause-card:hover {
            -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
          }
          
          
          .slick-crowd-camp  .cause-details .cause-card:hover {
            -webkit-box-shadow: none;
                    box-shadow: none;
          }

        
        .cause-card__inner {
            overflow: hidden;
            border-radius: 15px;
            background-color: #fff;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }

        

        .cause-card__content {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 45px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .cause-details .cause-card__content {
            padding-bottom: 0;
            margin-bottom: 40px;
        }
  
                
        .featured-cause .cause-card__top {
            margin-top: 24px;
        }   



        .cause-card__progress {
            width: 100%;
            height: 4px;
            position: relative;
            background-color: #f1f1f1;
            border-radius: 5px;
            margin-bottom: 15px;
          }
          
          .cause-card__progress > span {
            border-radius: 5px;
            background-color: #38BFCE;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          
          .cause-card__progress > span > b {
            border-radius: 5px;
            background-color: inherit;
            bottom: 100%;
            left: 100%;
            padding-left: 11px;
            padding-right:11px;
            position: absolute;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            line-height: 25px;
            margin-bottom: 10px;
            border-bottom-left-radius: 0;
          }
          
          .cause-card__progress > span > b i {
            font-style: normal;
          }
          
          .cause-card__progress > span > b::after {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            margin-top: -3px;
            border: 5px solid transparent;
            border-top: 5px solid #38BFCE;
            border-left: 5px solid #38BFCE;
          }

          .cause-card__goals {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .cause-card__goals > p {
            margin: 0;
            line-height: 1;
            font-size: 14px;
            color: #7e7e7e;
        }
          
        /* camp-namum */
        .slick-camp-namum{
            display: block;
            height:auto;
        }
        .slick-camp-namum .slick-slide{
            width:316px;
            
        }

        .slick-camp-namum .slider .camp-namum-img{
            padding:0;
            max-width:316px;
            height:232px;
            border-radius: 6px;
            background-color: black;
        }
        
        .slick-camp-namum p{
            width: 316px;
            margin-left:8px;
            margin-top:12px;
            font-size:16px;
            text-align: left;
            color:black;
        }



         /* slick sample */
        .container {
            padding: 30px;
        }


        .tab-content>.tab-pane {
            display: block;
            visibility: hidden;
        }

        .tab-content>.tab-pane.active {
            visibility: visible;
        }

        .tab-content {
            position: relative;
        }

        .tab-pane {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .nav-tabs>li>a {
            background: rgba(100, 100, 100, 0.65);
            color: rgb(95, 9, 9);
        }


        .slick-slide{
            cursor: pointer;
            border:0;
        }

        .slick-slider {
            line-height: 1;
            text-align: center;
            color: white;
        }

        .slick-slider .slick-dots button:before,
        .slick-slider .slick-dots .slick-active button:before {
            color: rgba(255, 255, 255, 0.85);
        }


