@charset "utf-8";

.hue-p {color:#cb0802}
.hue-bg-p {background-color:#cb0802}
.only-mobile {display:none}
.color-type1 {color:#cb0802}

/**/
.base-header {position:relative;z-index:2;border-bottom:1px solid #dfdfdf}
.base-body {position:relative;z-index:0;}
.base-body:after {content:"";display:block;clear:both}
.base-body.type-sub {width:100%;margin:0 auto;min-height:calc(100vh - 559px)}
.base-footer {background:#191919;position:relative;z-index:1;}

.base-main {float:none;width:100%;}
/*.base-aside {float:left;width:200px;height:700px;background:skyblue}*/
.base-body.type-sub .base-main {width:1080px;margin:0 auto;}

/* sprite */
[class^="sprite-footer_"] {display:inline-block;background-image:url("/common/img/common/sprite_footer.png");background-repeat:no-repeat;}
[class^="sprite-footer_sns"] {height:20px;background-position-y:0;font-size:0}
.sprite-footer_sns1 {width:8px;background-position-x:0;}
.sprite-footer_sns2 {width:16px;background-position-x:-20px;}
.sprite-footer_sns3 {width:16px;background-position-x:-40px;}
.sprite-footer_sns4 {width:14px;background-position-x:-60px;}

[class^="sprite-header_"],
.nav-sub h3:after {display:inline-block;background-image:url("/common/img/common/sprite_header.png");background-repeat:no-repeat;}
.sprite-header_blt {width:11px;height:11px;background-position:0 0}
.sprite-header_sh {width:11px;height:11px;background-position:-45px 0}

[class^="sprite-breadcrumb_"],
.breadcrumb-depth .breadcrumb-btn:after {display:inline-block;background-image:url("/common/img/common/sprite_breadcrumb.png");background-repeat:no-repeat;}
.sprite-breadcrumb_home {width:18px;height:18px;background-position:0 0;font-size:0;}

/* footer */
.base-footer-wrap {position:relative;max-width:1080px;width:100%;margin:0 auto;padding:50px 0 0;z-index:0;}
.base-footer-wrap:after {content:"";display:block;clear:both}
.footer-link {float:right}
.footer-link dl {float:left;width:180px;}
.footer-link dt {font-size:14px;color:#eaeaea;margin-bottom:10px}
.footer-link dd {width:100%;margin-bottom:5px;}
.footer-link a {color:#aaa;font-size:13px;}
.footer-link dl.footer-sns {overflow:hidden;}
.footer-link dl.footer-sns dd {float:left;width:auto;}
.footer-link dl.footer-sns dd a {display:block;font-size:0;padding-top:2px;}
.footer-link dl.footer-sns dd ~ dd {margin-left:16px;}

.footer-address {position:relative;float:left;width:100%;margin:50px 0 0;border-top:1px solid #4d4d4d;padding:30px 0;color:#737373;font-size:11px;}
.footer-address .footer-menu:after {content:'';display:block;clear:both;}
.footer-address .footer-menu .footer-menu-item {float:left;font-size:12px;line-height:15px;}
.footer-address .footer-menu .footer-menu-item ~ .footer-menu-item {margin-left:16px;}
.footer-address .footer-menu .footer-menu-item a {color:#aaa;}
.base-footer-wrap .logo {float:left;width:139px;height:36px;background:url(/common/img/common/logo_f.png) no-repeat 0 0;}
.footer-address address {margin-top:17px;font-style:normal;}
.footer-address .address-txt ~ .address-txt {margin-top:5px}
.footer-address .address-txt .address-item {position:relative;display:inline-block}
.footer-address .address-txt .address-item.only-mobile {display:none}
.footer-address .address-txt .address-item.only-mobile + .address-item {margin-left:0;padding-left:0}
.footer-address .address-txt .address-item.only-mobile + .address-item:before {display:none}
.footer-address .address-txt .address-item ~ .address-item {margin-left:10px;padding-left:11px;}
.footer-address .address-txt .address-item ~ .address-item:before {content:'';position:absolute;left:0;top:3px;width:1px;height:9px;background-color:#4d4d4d;}
.footer-address .partner-logo {position:absolute;right:0;bottom:30px;display:block;width:180px;}
.footer-address .partner-logo img {width:100%;vertical-align:top}
.footer-copyright {margin-top:16px;}

.base-header-wrap {position:relative;max-width:1080px;width:100%;margin:0 auto;padding:0 0 0 217px;height:120px;z-index:1;}
.base-header-wrap .logo {position:absolute;top:58px;left:0;width:155px;height:38px;}
.base-header-wrap:after {content:"";display:block;clear:both}
.header-mobile{display:none;}
.nav-util {position:absolute;top:5px;right:-10px;z-index:5;}
.nav-util > a,
.nav-util > button {display:inline-block;padding:0 5px;margin:0 5px;color:#252525;font-size:12px;vertical-align: middle}
.nav-util > button i {position:relative;top:-1px;margin-left:4px;vertical-align:middle;}
.nav-util > button.ui-drop:hover i {background-position-x:-15px}
.nav-util > button[aria-expanded="true"] {color:#790401;}
.nav-util > button[aria-expanded="true"] i {background-position-x:-30px;}
.nav-util > span {display:inline-block;font-size:9px;vertical-align: middle}
.nav-util-box {width:100%;min-width:100px;background:#191919;margin-top:5px;padding:10px 20px;box-shadow: 0 6px 6px 0 rgba(188, 181, 181, 0.5);}
.nav-util-box a {display:block;width:100%;font-size:12px;color:#aaa;margin:5px 0;text-align: center}
.nav-util-box a:hover,
.nav-util-box a:focus {color:#cb0802;text-decoration:underline}
.nav-main {padding-top:53px;}
.nav-main-wrap {float:left;}
.nav-main-1 {float:left;}
.nav-btn-1 {display:block;padding:10px 40px;font-size:18px;font-weight:700;color:#121212;}
.nav-btn-1 i {display:block;padding:0 0 3px;border-bottom:2px solid #fff;}
.nav-btn-1:hover i,
.nav-btn-1:focus i,
.nav-btn-1.selected i {color:#cb0802;border-bottom:2px solid #cb0802;}

.nav-sub {position:absolute;display:block;top:121px;left:0;overflow:hidden;width:100%;height:0;background:#fff;opacity:0;padding-left:216px;}
.nav-sub:after {content:"";display:block;clear:both}
.on .nav-sub {display:block;position:absolute;top:121px;left:0;z-index:1}
.nav-sub > div {width:216px;float:left;border-left:1px solid #d4d4d4;height:415px;padding:40px;background:#fff;transition:background-color 0.2s ease-in}
/*.nav-sub > div:first-child {border-left:0}*/
.nav-sub h3 {position:relative;font-size:16px;font-weight:600;display:block;width:100%;padding-bottom:6px;margin-bottom:10px;border-bottom:1px solid #121212}
.nav-sub h3:after {content:'';position:absolute;right:0;top:8px;width:9px;height:5px;background-position:-60px 0}
.nav-sub .selected h3 {color:#cb0802;border-bottom-color:#ea9996}
.nav-sub .selected h3:after {background-position-x:-70px}
.nav-sub a {display:block;width:100%;margin-bottom:8px;font-size:14px;color:#252525}
.nav-sub > div:hover {background:#fef2f2}
.nav-sub a:hover,
.nav-sub a:focus,
.nav-sub a.selected {color:#cb0802;font-weight:700;text-decoration:underline}
.dim-nav {position: absolute;display:block;top:121px;left:0;overflow:hidden;width:100%;height:0;background:#fff;z-index:0;border-bottom:0 solid transparent;transition:border 0.3s ease-in}
.dim-nav.on { border-bottom:5px solid #cb0802;}
.nav-sub-tit h2 {font-size:26px;color:#121212;font-weight:800;margin-bottom:5px;}
.nav-sub-tit p {font-size:14px;color:#121212;}
.nav-sub-tit.n1 {background:url(/common/img/common/bg_nav1.png) no-repeat 100% 100% !important;}
.nav-sub-tit.n2 {background:url(/common/img/common/bg_nav2.png) no-repeat 100% 100% !important;}
.nav-sub-tit.n3 {background:url(/common/img/common/bg_nav3.png) no-repeat 100% 100% !important;}
.nav-sub-tit.n4 {background:url(/common/img/common/bg_nav4.png) no-repeat 100% 100% !important;}

/* .nav-sub-tit *{display:none;}
#baseHeader .nav-sub-tit{background:none !important} */

.nav-special {float:right;font-size:0}
.nav-special a + a {margin-left:4px;}

[class*="btn-base"] {display:inline-block;width:126px;height:48px;text-align:center;color:#fff;background-color:#aaa;font-size:16px;font-weight: 400;border:1px solid #aaa;vertical-align:top;transition:background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in}
a[class*="btn-base"] {padding:12px 0 0;}
[class*="btn-base"]:hover,
[class*="btn-base"]:focus,
[class*="btn-base"].selected {background-color:#666;border:1px solid #666;}
[class*="btn-base"].small {width:auto;height:32px;padding:7px 26px;font-size:12px}
.btn-base-imp {background-color:#cb0802;border:1px solid #cb0802;}
.btn-base-imp:hover,
.btn-base-imp:focus,
.btn-base-imp.selected {background-color:#790401;border:1px solid #790401;}

.btn-base-main {width:168px;height:64px;font-size:20px;background-color:#cb0802;border:1px solid #cb0802;}
a.btn-base-main {padding-top:16px;}
.btn-base-main:hover,
.btn-base-main:focus,
.btn-base-main.selected {background-color:#790401;border:1px solid #790401;}

.btn-base-line {background-color:#fff;border:1px solid #cb0802;color:#cb0802}
.btn-base-line:hover,
.btn-base-line:focus,
.btn-base-line.selected {background-color:#fff;border:1px solid #000;color:#790401}


[class*="btn-swiper-"] {position:relative;width:48px;height:48px;border:1px solid #eaeaea;background-color:#fff;z-index:11;transition:border 0.2s ease-in}

[class*="btn-swiper-"]:after,
[class*="btn-swiper-"]:before {content:"";position:absolute;top:12px;left:50%;margin-left:-1px;display:block;width:2px;height:30%;background:#3c3c3c;border-radius:1px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);transition:background-color 0.2s ease-in}
[class*="btn-swiper-"]:after {-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);top:calc(50% - 2px);}
.btn-swiper-next {-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}

[class*="btn-swiper-"]:hover,
[class*="btn-swiper-"]:focus {border:1px solid #cb0802;z-index:13}
[class*="btn-swiper-"]:hover:after,
[class*="btn-swiper-"]:focus:after,
[class*="btn-swiper-"]:hover:before,
[class*="btn-swiper-"]:focus:before {background:#cb0802;}

.guide-wrap {width:100%;max-width:1080px;margin:0 auto;padding:50px 0;}
.guide-wrap > section {margin-top:50px;}
.guide-wrap h2 {margin-bottom:20px;font-weight:800}
.guide-wrap h3 {margin-top:20px;font-weight:700}

/* sub layout */
.sub-visual {height:180px;background-position:50% 50%;background-size:cover;background-repeat:no-repeat;}
.sub-visual.visual02_01 {background-image:url("/common/img/contents/visual02_01.png")}
.sub-title-area {width:1080px;margin:0 auto;padding-top:58px;text-align:left;}
.heading-title-a {font-size:32px;line-height:32px;color:#fff;font-weight:600;text-shadow:0 2px 4px rgba(0,0,0,.2);}
.title-sub-txt {margin-top:16px;color:#fff;font-size:16px;line-height:16px;}
.base-body.type-sub.base-main {max-width:1080px;margin:0 auto}
.contents-area {padding-bottom:100px}
.contents-hd {position:relative;margin-top:45px;text-align:center}
.contents-hd h3 {display:inline-block}
.contents-hd h3 strong {line-height:40px;font-size:24px;font-weight:600;color:#3c3c3c;letter-spacing:-.3px}
.contents-hd h3 span {display:block;font-size:13px}
.contents-menu-nav button {position:absolute;top:22px;font-size:14px;color:#121212}
.prev-menu {left:0;padding-left:34px}
.next-menu {right:0;padding-right:34px}
.contents-menu-nav button:after {content:"";display:block;width:12px;height:22px;position:absolute;top:-2px;background-image:url("/common/img/common/header-nav_arrow.png");background-repeat:no-repeat}
.prev-menu:after {left:0;background-position:0 0}
.next-menu:after {right:0;background-position:-32px 0}

/* sub templet*/
.contents-tab {margin-top:35px}
.tab-contents {color:#3c3c3c}
.tab-desc {margin:34px 0 65px;font-size:14px;line-height:22px}
.table-tit {margin:40px 0 24px;font-size:18px;line-height:18px}
.hope-area select {width:344px}
.hope-area p {margin-top:7px;font-size:12px}
.post-code [class*="btn-base"].small {margin-left:11px;padding:7px 15px}
.email-area input[type="text"] {width:158px}
.email-ico {display:inline-block;margin:0 8px;font-size:12px;line-height:18px;}
.birthday-form > span {font-size:0}
.birthday-form > span * {font-size:12px;vertical-align:middle}
.birthday-form select {width:80px}
.birthday-form .birthday-txt {display:inline-block;margin:0 24px 0 8px}

/* breadcrumbs */
.base-breadcrumbs {border-bottom:1px solid #ccc;}
.breadcrumb-bar {width:1080px;margin:0 auto;}
.breadcrumb-bar:after {content:'';display:block;clear:both;}
.breadcrumb-home {display:block;float:left;width:50px;height:50px;border-left:1px solid #ccc;text-align:center}
.breadcrumb-home:hover .sprite-breadcrumb_home {background-position-x:-20px}
.breadcrumb-depth {position:relative;float:left;min-width:160px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.breadcrumb-depth ~ .breadcrumb-depth {margin-left:-1px}
.breadcrumb-depth .breadcrumb-btn {position:relative;display:block;height:50px;padding:0 23px 0 16px;width:100%;font-size:14px;color:#555;text-align:left;}
.breadcrumb-depth .breadcrumb-btn:after {content:'';position:absolute;right:16px;top:22px;width:7px;height:4px;background-position:-40px 0}
.breadcrumb-depth .breadcrumb-btn[aria-expanded="true"] {color:#252525;font-weight:600;}
.breadcrumb-depth .breadcrumb-btn[aria-expanded="true"]:after {background-position:-50px 0}
.breadcrumb-depth .breadcrumb-list {position:absolute;top:50px;left:-1px;right:-1px;padding:16px 17px;border:1px solid #ccc;border-top:none}
.breadcrumb-depth .breadcrumb-list a {font-size:14px;line-height:16px;color:#252525;}
.breadcrumb-depth .breadcrumb-list a:hover {color:#cb0802;text-decoration:underline}
.breadcrumb-depth .breadcrumb-list li ~ li {margin-top:12px;}
.breadcrumb-depth:last-child .breadcrumb-btn {color:#121212;font-weight:600;}
.breadcrumb-depth:last-child .breadcrumb-btn:before {content:'';display:block;position:absolute;left:-1px;right:-1px;bottom:-1px;height:1px;background-color:#cb0802}

/* form style */
input[type="text"] {border:1px solid #d4d4d4;}
.in-w100 {width:100% !important}
input[type="text"].in-w01 {width:344px}
input[type="text"].in-w02 {width:232px}

input[type="text"],
input[type="date"],
input[type="password"] {padding:0 12px;width:auto;height:32px;vertical-align:middle;font-size:14px;color:#3c3c3c;outline:none;border:1px solid #d4d4d4;border-radius:0;box-sizing:border-box;-webkit-appearance:none !important}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {color:#999}
input:disabled, input:readonly {background:#e5e5e5}
input[readonly='readonly'], input[readonly],
input[disabled='disabled'], input[disabled] {background-color:#e5e5e5;color:rgba(0,0,0,.5) !important;opacity:1;border-color:#d5d6db !important}

select {display:inline-block;position:relative;vertical-align:top;width:auto;height:32px;padding:0 50px 0 20px;border-radius:0;appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url("/common/img/common/sel_blt.png") right 13px no-repeat;border:1px solid #d4d4d4;font-size:14px;cursor:pointer;outline:none}
select::-ms-expand {display:none}
select optgroup,
select option {font-style:normal;background-color:#fff;font-size:14px}
select[disabled] {background-color:#f7f7f7;color:#888}
select.small {padding:0 20px 0 12px;font-size:12px}
.ie9 select {padding:0}
.ui-select {position:relative;display:inline-block;vertical-align:top}
.ui-select select {width:100%}

/* table */
.required {display:inline-block;margin-left:3px;color:#cb0802}
[class*='tb-type_'] {border-top:2px solid #121212;border-bottom:1px solid #aaa}
[class*='tb-type_'] table {width:100%;table-layout:fixed;color:#3c3c3c;font-size:14px;text-align:left;line-height:18px}
[class*='tb-type_'] table tr ~ tr th, tr td {border-top:1px solid #d4d4d4}
.tb-type_a th {padding:19px 24px;background-color:#f5f5f5}
.tb-type_a td {padding:12px 24px}

/* tab type */
.ui-tab-type2 .ui-tab-btns {display:table;table-layout:fixed;width:100%;padding:0;border-bottom:0}
.ui-tab-type2 .ui-tab-btns button {position:relative;width:50%;min-height:48px;font-size:14px;background:#d4d4d4;border:0}
.ui-tab-type2 .ui-tab-btns button:after {content:"";display:block;width:100%;height:100%;position:absolute;left:-1px;top:-1px;border:1px solid #d4d4d4}
.ui-tab-type2 .ui-tab-btn.selected {background:#fff;color:#cb0802;line-height:1}
.ui-tab-type2 .ui-tab-btn.selected:after {border:1px solid #cb0802}
.ui-tab-type2 .ui-tab-btn.selected:hover,
.ui-tab-type2 .ui-tab-btn.selected:focus {border-bottom:0}